$maxWidthContainer:1110px;


@mixin CreateContainer{
    max-width: $maxWidthContainer;
    margin: 0 auto;
}

@font-face {
    font-family: 'starWars';
    src: url('../fonts/SfDistantGalaxyOutlineItalic-4yA4.ttf'); 
   }
@font-face {
    font-family: 'starWarsInline';
    src: url('../fonts/SfDistantGalaxy-0l3d.ttf'); 
   }
   @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.container{
    @include CreateContainer;
  
    display: flex;
    min-height: 100vh;
    background-color: rgba($color:#eb3b5a, $alpha: .9);
   
    ///TEMP
   
}

.mainBlock{
    padding:0 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
   
}

.container article{
    flex-grow: 1;
    max-width: 330px;
    min-width: 330px;
}

.elementSearching{
    background-color: #2F3640;
    color:#fff;
    border-radius:20px;
    padding: 10px 15px;
    margin-left: 10px;
    margin-bottom:5px;
    display:inline-block;
}
.elementSearchingError{
    background-color: #2F3640;
    color:#DC3545;
    border-radius:20px;
    padding: 10px 15px;
    margin-left: 10px;
    margin-bottom:5px;
    display:inline-block;
}


.HeadlineLinks{
    
    text-transform:uppercase;
    font-family: 'starWarsInline';
    font-size: 20px;
    margin-bottom:10px;
    letter-spacing:2px;
}
.MainName{
    font-size: 35px;
}
.FieldValue{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing:0;
}