@font-face {
    font-family: 'starWars';
    src: url('../fonts/SfDistantGalaxyOutlineItalic-4yA4.ttf'); 
   }



.container{
    background-color: rgba($color: #4b6584, $alpha: .8);
    min-height: 100%;
    font-family: 'starWars';
}





.articleWrapper{
min-height: 100vh;
}
.item{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;

    &:hover{
        cursor:pointer;
    }

}
.activeLink{
    color: #eb3b5a;
    border: 1px solid #eb3b5a ;
    border-radius: 20px;
    text-align: center;
    
}

.logo{
    min-height:120px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;

    &:hover img{
        cursor: pointer;
    }

}